<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="<%= image %>" type="image/x-icon">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <title><%= title %></title>
</head>

<body>
    <div class="container">
        <div>
            <h1 class="title">
                <a href="/">
                    <b>
                      <i style="color:#F49424">Acharya</i>
                      <i style="color:#223881">Football</i>
                      <i style="color:#F49424">League.</i>
                    </b>
                  </a>
                <img class="disp" style="float:right" src="http://www.acharya.ac.in/img/Acharya_Logo1.PNG" alt="Acharya Logo "
                    width="90" height="80">
            </h1>
            <br>
            <hr>
        </div>
        <div>
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="/">Live</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="/detail">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="/contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="/register">Registration</a>
                </li>
            </ul>
        </div><br><br>
        <table class="table table-hover">
                          <% if(schedules.length == 0){ %>
                            <h2 class="text-center">Oops...! No Record Found</h2>
                          <% } else{ %>
                            <thead>
                                    <tr>
                                        <th scope="col">First Team</th>
                                        <th scope="col">Second Team</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Date</th>
                                    </tr>
                                </thead>  
                            <% for(var i=0; i < schedules.length; i++) { %>
                                <tr>
                                    <td><%= schedules[i].teamone %></td>
                                    <td><%= schedules[i].teamtwo %></td>
                                    <td><%= schedules[i].time %></td>
                                    <td><%= schedules[i].date %></td>
                                  </tr>
                        <% } %>
                         <% } %>
                </table>
</body>

</html>